/* Add any CSS rules for Angular module "crmExt" */
.crm-extensions-upgrade {
  background: #ffb;
  border: 1px solid #000;
  text-align: center;
  margin: .25em;
  color: #999999 !important;
}

div#crmExt-detail-main {
  width: 78%;
  float: left;
  margin-right: 2%;
}
div#crmExt-detail-stats, div#crmExt-detail-details {
  width: 18%;
  float: left;
}
td#crmExt-detail-actions {
  text-align: right;
}

.crmExt-detail-link {
  color: #2786c2;
  cursor: pointer;
  font-weight: bold;
}

tr.crmExt-blockExtensionRow-status-installed-missing *,
tr.crmExt-blockExtensionRow-status-disabled-missing * {
  color: red;
}

tr.crmExt-blockExtensionRow-status-installed {
  background-color: #DDFFDD !important;
}

tr.crmExt-blockExtensionRow-status-disabled * {
  color: #999999;
}
tr.crmExt-blockExtensionRow-status-disabled .crmExt-detail-link,
tr.crmExt-blockExtensionRow-status-disabled a {
  color: #74a2be !important;
}