/* Add any CSS rules for Angular module "crmExt" */
.crm-extensions-upgrade {
  background: #ffb;
  border: 1px solid #000;
  text-align: center;
  margin: .25em;
  color: #999999 !important;
}

div#crmExt-overlay-main {
  width: 78%;
  float: left;
  margin-right: 2%;
}
div#crmExt-overlay-stats, div#crmExt-overlay-details {
  width: 18%;
  float: left;
}
td#crmExt-overlay-actions {
  text-align: right;
}

.crm-ext-detail-link {
  color: #2786c2;
  cursor: pointer;
}