/* Add any CSS rules for Angular module "extensionsui" */
.crm-extensions-upgrade {
  background: #ffb;
  border: 1px solid #000;
  text-align: center;
  margin: .25em;
  color: #999999 !important;
}

div#crm-extensionsui-overlay-main {
  width: 78%;
  float: left;
  margin-right: 2%;
}
div#crm-extensionsui-overlay-stats, div#crm-extensionsui-overlay-details {
  width: 18%;
  float: left;
}
td#crm-extensionsui-overlay-actions {
  text-align: right;
}