<!--
  TODO NEXT: Make sure correct action links are displayed.
  See other TODOs inline below.
-->

<span crm-ui-order="{var: 'installedOrder', 'defaults': ['name'] }"></span>
<table class="display">
  <thead>
    <tr>
      <th><a href="" crm-ui-order-by="[installedOrder,'name']">{{ts('Extension')}}</a></th>
      <th><a href="" crm-ui-order-by="[installedOrder,'version']">{{ts('Version')}}</a></th>
      <th ng-if="(extContext === 'installed')"><a href="" crm-ui-order-by="[installedOrder,'status']">{{ts('Status')}}</a></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr
      ng-repeat="(key, extension) in extData | filter: hasDisplayStatus | orderBy:installedOrder.get()"
      ng-class="'crmExt-blockExtensionRow-status-' + extension.status"
      >
      <td class="crm-ext-name">
        <!-- todo: ng-click okay? encapsulate this in the directive instead? -->
        <!-- todo: pass the extension data in -->
        <span ng-click="showOverlay(extension, extension.crmExt_parentname)" class="crmExt-detail-link">{{extension.name}}</span>
        <br/>{{extension.maintainer.author}} <span ng-if="(extension.maintainer.email.length)">({{extension.maintainer.email}})</span>
        <div class="crm-extensions-upgrade" ng-if="(hasAvailableUpgrade(extension.key))">Version {{availableUpgradeVersion(extension.key)}} is available. <a href="" crm-confirm="{message: ts('Upgrade <em>%1 (%2)</em>?', {1: value.name, 2: value.key})}" on-yes="value.upgrade();">Upgrade</a></div>
      </td>
      <td class="crm-ext-version">
        {{extension.stateOnPage.version}}
      </td>
      <!-- todo: pass context... or deal with this in the directive controller? -->
      <td class="crm-ext-status" ng-if="(extContext === 'installed')">
        {{extension.statusLabel}}
      </td>
      <!-- todo: incorporate into this directive? create another? -->
      <td class="crm-ext-actionlinks">
        {{extension.status}}
        <a
          ng-if="(extension.status == 'uninstalled' || extension.status == 'remote')"
          class="action-item crm-hover-button"
          href=""
          crm-confirm="{message: ts('Install <em>%1 (%2)</em>?', {1: extension.name, 2: extension.key})}" on-yes="extension.install();"
          >
          Install
        </a>

        <a
          ng-if="(extension.status == 'disabled')"
          class="action-item crm-hover-button"
          href=""
          crm-confirm="{message: ts('Enable <em>%1 (%2)</em>?', {1: extension.name, 2: extension.key})}" on-yes="extension.enable();"
          >
          Enable
        </a>

        <a
          ng-if="(extension.status == 'disabled' || extension.status == 'disabled-missing')"
          class="action-item crm-hover-button" href=""
          crm-confirm="{message: ts('Completely uninstall <em>%1 (%2)</em>?', {1: extension.name, 2: extension.key})}" on-yes="extension.uninstall();"
          >
          Uninstall
        </a>

        <a
          ng-if="(extension.status == 'installed' || extension.status == 'installed-missing')"
          class="action-item crm-hover-button"
          href=""
          crm-confirm="{message: ts('Disable <em>%1 (%2)</em>?', {1: extension.name, 2: extension.key})}" on-yes="extension.disable();"
          >
          Disable
        </a>
      </td>
    </tr>
  </tbody>
</table>