<a
  ng-if="(!extension.status.length || extension.status == 'uninstalled')"
  class="action-item crm-hover-button"
  href=""
  crm-confirm="{message: ts('Install <em>%1 (%2)</em>?', {1: extension.name, 2: extension.key})}" on-yes="extension.install();"
>
  Install
</a>

<a
  ng-if="(extension.status == 'disabled')"
  class="action-item crm-hover-button"
  href=""
  crm-confirm="{message: ts('Enable <em>%1 (%2)</em>?', {1: extension.name, 2: extension.key})}" on-yes="extension.enable();"
>
  Enable
</a>

<a 
  ng-if="(extension.status == 'disabled')"
  class="action-item crm-hover-button" href=""
  crm-confirm="{message: ts('Completely uninstall <em>%1 (%2)</em>?', {1: extension.name, 2: extension.key})}" on-yes="extension.uninstall();"
>
  Uninstall
</a>

<a
  ng-if="(extension.status == 'installed' || extension.status == 'installed-missing')"
  class="action-item crm-hover-button"
  href=""
  crm-confirm="{message: ts('Disable <em>%1 (%2)</em>?', {1: extension.name, 2: extension.key})}" on-yes="extension.disable();"
>
  Disable
</a>
