<td>
  <a ng-click="showOverlay(value.key, value.crmExt_parentname)" href="">{{value.name}}</a>
  <br/>{{value.maintainer.author}} <span ng-if="(value.maintainer.email.length)">({{value.maintainer.email}})</span>
  <div class="crm-extensions-upgrade" ng-if="(hasAvailableUpgrade(value.key))">Version {{availableUpgradeVersion(value.key)}} is available. <a href="" ng-click="value.upgrade()">Upgrade</a></div>
</td>
<td>
  {{value.version}}
</td>
<td>
  {{value.develStage}}
</td>
<td ng-if="(viewName == 'installed')">
  {{value.statusLabel}}
</td>
<td ng-include="'~/crmExt/BlockExtensionActionLinks.html'" ng-init="extension = value">
</td>