<div crm-ui-debug="extensions"></div>
<h1 crm-page-title>{{ts('CiviCRM Extensions')}}</h1>
<p class="help">
  <!-- Note: This is not translated because Angular's ts() function does not support HTML in strings. -->
  Thank you trying out this pre-release of CiviCRM's next-generation extensions manager. As this project is in its early stages,
  you may find that it does not yet contain all the features of its predecessor. The <a href="{{legacyExtensionsURL}}">legacy
  interface</a> is still available, should you need it.
</p>
<div ng-include="'~/crmExt/BlockPageActionLinks.html'"></div>
<div class="crm-container">
  <div crm-ui-tab-set>
    <div id="crmExt-tab-installed" crm-ui-tab crm-title="ts('Installed')">
      <span crm-ui-order="{var: 'installedOrder', 'defaults': ['name'] }"></span>
      <table class="display">
        <thead>
          <tr>
            <th><a href="" crm-ui-order-by="[installedOrder,'name']">{{ts('Extension')}}</a></th>
            <th><a href="" crm-ui-order-by="[installedOrder,'version']">{{ts('Version')}}</a></th>
            <th><a href="" crm-ui-order-by="[installedOrder,'develStage']">{{ts('Development Stage')}}</a></th>
            <th><a href="" crm-ui-order-by="[installedOrder,'status']">{{ts('Status')}}</a></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr 
            ng-repeat="(key, value) in extensions.installed | orderBy:installedOrder.get()"
            ng-class="'crmExt-blockExtensionRow-status-' + value.status"
            ng-include="'~/crmExt/BlockExtensionRow.html'"
            ng-init="viewName = 'installed'"
          ></tr>
        </tbody>
      </table>
    </div>
    <div id="crmExt-tab-addnew" crm-ui-tab crm-title="ts('Add New')">
      <div class="help" ng-bind-html="addNewHelpText"></div>
      <span crm-ui-order="{var: 'addnewOrder', 'defaults': ['name'] }"></span>
      <table>
        <thead>
          <tr>
            <th><a href="" crm-ui-order-by="[addnewOrder,'name']">{{ts('Extension')}}</a></th>
            <th><a href="" crm-ui-order-by="[addnewOrder,'version']">{{ts('Version')}}</a></th>
            <th><a href="" crm-ui-order-by="[addnewOrder,'develStage']">{{ts('Development Stage')}}</a></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <!--
          FIXME: Consider creating a directive that would handle the ng-include and ng-init, probably taking an argument
            indicating which columns should be displayed.
          <tr ng-repeat="(key, value) in extensions.addnew" crmExt-row="['name','description','stage','actions']"></tr>
          -->
          <tr
            ng-repeat="(key, value) in extensions.addnew | orderBy:addnewOrder.get()"
            ng-class="'crmExt-blockExtensionRow-status-' + value.status"
            ng-include="'~/crmExt/BlockExtensionRow.html'"
            ng-init="viewName = 'addnew'"
          ></tr>
        </tbody>
      </table>
    </div>
</div>
