<div ng-controller="OverlayCtrl">
  <div id="crmExt-overlay-main">
    <div crm-ui-debug="model"></div>
    <h4>&nbsp;</h4>
    <table class="crm-info-panel">
      <tr>
        <td class="label">{{ts('Author')}}</td>
        <td>{{model.maintainer.author}} <span ng-if="(model.maintainer.email.length)">({{model.maintainer.email}})</span></td>
      </tr>
      <tr>
        <td class="label">{{ts('Description')}}</td>
        <td>
          {{model.description}}
          <div class="crm-extensions-upgrade" ng-if="(model.hasAvailableUpgrade())">Version {{model.availableUpgradeVersion()}} is available. <a href="" ng-click="model.upgrade()">Upgrade</a></div>
        </td>
      </tr>
      <tr>
        <td class="label">{{ts('Released on')}}</td>
        <td>{{model.releaseDate}}</td>
      </tr>
      <tr>
        <td class="label">{{ts('Compatible with')}}</td>
        <!-- td><span ng-repeat="(key, value) in model.compatibility.ver">{{value}}&nbsp;</span></td -->
        <td>{{model.compatibility.ver.join(', ')}}</td>
      </tr>
      <tr ng-repeat="(key, value) in model.urls">
        <td class="label">{{ts(key)}}</td>
        <td>{{value}}</td>
      </tr>
      <tr>
        <td class="label">{{ts('Comments')}}</td>
        <td>{{model.comments}}</td>
      </tr>
      <tr>
        <td class="label">{{ts('License')}}</td>
        <td>{{model.license}}</td>
      </tr>
      <tr>
        <td class="label">{{ts('Canonical name')}}</td>
        <td>{{model.key}}</td>
      </tr>
      <tr ng-show="model.downloadUrl">
        <td class="label">{{ts('Download location')}}</td>
        <td>{{model.downloadUrl}}</td>
      </tr>
      <tr>
        <td class="label">{{ts('Local path')}}</td>
        <td>{{model.path}}</td>
      </tr>
    </table>

  </div>
  <div id="crmExt-overlay-details">
    <h4>Details</h4>
    <table class="crm-info-panel">
      <tr>
        <td class="label">{{ts('Version')}}</td>
        <td>{{model.version}}</td>
      </tr>
      <tr>
        <td class="label">{{ts('Development stage')}}</td>
        <td>{{model.develStage}}</td>
      </tr>
      <tr ng-if="(model.statusLabel.length)">
        <td class="label">{{ts('Status')}}</td>
        <td>{{model.statusLabel}}</td>
      </tr>
    </table>
  </div>
  <div id="crmExt-overlay-stats">
    <h4>Statistics</h4>
    <table class="crm-info-panel">
      <tr>
        <td class="label">{{ts('Author')}}</td>
        <td>{{model.maintainer.author}} <span ng-if="(model.maintainer.email.length)">({{model.maintainer.email}})</span></td>
      </tr>
    </table>
  </div>
</div>