<h1 crm-page-title>{{ts('CiviCRM Extensions')}}</h1>
<div class="crm-container">
    <div crm-ui-accordion="{title: ts('Installed')}">
      <table>
        <thead>
          <tr>
            <th>{{ts('Extension')}}</th>
            <th>{{ts('Version')}}</th>
            <th>{{ts('Development Stage')}}</th>
            <th>{{ts('Status')}}</th>
            <th></th>
          </tr>
        </thead>
        <tbody ng-repeat="(key, value) in extensions.installed">
          <tr ng-include="'~/extensionsui/blockExtensionRow.html'" ng-init="viewName = 'installed'"></tr>
        </tbody>
      </table>
    </div>
    <div crm-ui-accordion="{title: ts('Add New')}">
      <table>
        <thead>
          <tr>
            <th>{{ts('Extension')}}</th>
            <th>{{ts('Version')}}</th>
            <th>{{ts('Development Stage')}}</th>
            <th></th>
          </tr>
        </thead>
        <tbody ng-repeat="(key, value) in extensions.addnew">
          <tr ng-include="'~/extensionsui/blockExtensionRow.html'" ng-init="viewName = 'addnew'"></tr>
        </tbody>
      </table>
    </div>
</div>
