<h1 crm-page-title>{{ts('CiviCRM Extensions')}}</h1>
<div ng-include="'~/extensionsui/blockPageActionLinks.html'"></div>
<div class="crm-container">
  <div crm-ui-tab-set>
    <div id="crm-extensionsui-tab-installed" crm-ui-tab crm-title="ts('Installed')">
      <table class="display">
        <thead>
          <tr>
            <th>{{ts('Extension')}}</th>
            <th>{{ts('Version')}}</th>
            <th>{{ts('Development Stage')}}</th>
            <th>{{ts('Status')}}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="(key, value) in extensions.installed" ng-include="'~/extensionsui/blockExtensionRow.html'" ng-init="viewName = 'installed'"></tr>
        </tbody>
      </table>
    </div>
    <div id="crm-extensionsui-tab-addnew" crm-ui-tab crm-title="ts('Add New')">
      <div class="help" ng-bind-html="addNewHelpText"></div>
      <table>
        <thead>
          <tr>
            <th>{{ts('Extension')}}</th>
            <th>{{ts('Version')}}</th>
            <th>{{ts('Development Stage')}}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="(key, value) in extensions.addnew" ng-include="'~/extensionsui/blockExtensionRow.html'" ng-init="viewName = 'addnew'"></tr>
        </tbody>
      </table>
    </div>
</div>
